@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: #edf0f1;
	background-color: #24252A;
	font-family: 'Roboto Mono', monospace;
}

li, a, button {
	font-weight: 500;
	font-size: 16px;
	text-decoration: none;
}

header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 30px 10%;
}


.logo {
	margin-right: auto;
	cursor: pointer;
}

.logo img {
	max-width: 100px;
}

.nav_links {
	list-style: none;
	margin-right: 20px;
}

.nav_links li {
	display: inline-block;
	padding: 0px 20px;
}

.nav_links li a {
	transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
	color: #ED0C39;
}

button {
	padding: 9px 25px;
	background-color: rgba(237,12,57,1);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

button:hover {
	background-color: rgba(237,12,57,0.8);
}

h1 {
	font-weight: 700;
	padding: 30px 10%;
	background-color: #ED0C39;
}

p {
	font-weight: 400;
	padding: 30px 10%;
	background-color: transparent;
}

p strong {
	color: #ED0C39;
}

.home {
	display: grid;
	place-items: center;
}

.home h1 {
	font-weight: 700;
	color: #ED0C39;
	background-color: transparent;
	margin-top: 10%;
	font-size: 96px;
	text-shadow: 5px 10px 10px rgb(0 0 0 / 10%), 0 10px 10px rgb(0 0 0 / 5%);
	text-align: center;
}

.home p {
	font-weight: 500;
	font-size: 24px;
	text-align: center;
}

#game {
    display: grid;
	place-items: center;
}

#game object {
    margin-top: 10px; 
}
